[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"
pytest-runner = "*"
boto3 = "*"
awscli = "*"
moto = "*"

[packages]
csci-utils = {editable = true, git = "https://github.com/csci-e-29/2020fa-csci-utils-peeti71"}
pandas = "*"
dask = {extras = ["dataframe"], version = "*"}

[requires]
python_version = "3.7"
